/* ListSocieties.css */

/**
 *Resources used for css throught: 
 * https://www.w3schools.com/css/ - The w3 schools css tutorial
*/

.listsocieties {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }
  
  .listsocieties-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8); 
    padding: 0.5rem 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .listsocieties-header h1 {
    font-size: 1.25rem;
    font-weight: 600; 
    font-family: 'Arial', sans-serif; 
    color: #ffffff; 
    margin: 0;
  }
  
  .description {
    text-align: center;
    width: 100%;    
    padding: 0.5rem 0.5rem;
    background-color: rgba(51, 51, 51, 0.8);
    margin-bottom: 1%;
  }
  
  .description h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Arial', sans-serif; 
    color: aliceblue; 
    margin: 0;
  }

  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: center;
    padding: 20px;
  }